<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">
                <p>Name: {{ pal.getName()|raw }}<br/>
                File: {{ pal.getFilename() }}<br/>
                Comt: {{ pal.getComment() ? pal.getComment() : 'n.a.' }}</p>
            </div>
        </div>
        <div class="row">
            <div class="large-9 columns palgrid">
                {% include 'palette_grid.html.twig' %}
            </div>
            <div class="large-3 columns">
                <div class="small button-group">
                    <a href="{{ path('gpl_export', {id: pal.getId() }) }}" class="button">
                        <i class="fa fa-download"></i> .gpl
                    </a>
                    <a href="{{ path('ase_export', {id: pal.getId() }) }}" class="button">
                        <i class="fa fa-download"></i> .ase
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns">

            </div>
            <div class="large-2 columns">

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <hr />
    </div>
</div>