<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-12 columns">
                <h4>{{ pal.getName()|raw }}</h4>
                <p>Number of colors: {{ pal.getColorCount() }}<br/>
                Comment: {{ pal.getComment() ? pal.getComment()|nl2br : 'n.a.' }}</p>
            </div>
        </div>
        <div class="row">
            <div class="large-10 medium-9 columns palgrid align-bottom">
                {% include 'palette_grid.html.twig' %}
            </div>
            <div class="large-2 medium-3 columns align-bottom">
                <div class="small button-group">
                    <a href="{{ path('gpl_export', {id: pal.getId() }) }}" class="button">
                        <i class="fa fa-download"></i> .gpl
                    </a>
                    <a href="{{ path('ase_export', {id: pal.getId() }) }}" class="button">
                        <i class="fa fa-download"></i> .ase
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">
        <hr />
    </div>
</div>