<div class="col-lg-4 col-md-12 col-sm-12">
    <div class="row palgrid">
        <div class="col-lg-12">
            {% include 'palette_grid.html.twig' %}
        </div>
    </div>
    <div class="row palinfos">
        <div class="col-lg-12">
            <h4>{{ pal.getName()|raw }}</h4>
            <p>Number of colors: {{ pal.getColorCount() }}<br/>
            Comment: {{ pal.getComment() ? pal.getComment()|nl2br : 'n.a.' }}</p>
        </div>
    </div>
    <div class="row palbuttons">
        <div class="col-lg-12">
            <div class="btn-group" role="group">
                {% for configEntry in app.config.exportFormats %}
                    <a href="{{ path(configEntry.pathalias, {id: pal.getId() }) }}" class="btn btn-primary">
                        <i class="fa fa-download"></i> .{{ configEntry.format }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>